<div class="table-page">
  <h2>Auteurs</h2>

  <mat-sidenav-container class="container">

    <!-- LEFT CONTENT -->
    <mat-sidenav-content class="content">

      <div class="page">

        <!-- GLOBAL STATUS  -->
        <div class="status-container">

          <div *ngIf="successMessage" class="success">
            {{ successMessage }}
          </div>

          <div *ngIf="error" class="error">
            {{ error }}
          </div>

        </div>

        <!-- TABLE -->
        <div class="table-center">

          <div class="table-wrapper">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!-- AUTHOR ID -->
              <ng-container matColumnDef="authorId">
                <th mat-header-cell *matHeaderCellDef>
                  ID_AUTEUR
                </th>
                <td mat-cell *matCellDef="let author">
                  {{ author.authorId }}
                </td>
              </ng-container>

              <!-- FIRSTNAME -->
              <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef>
                  PRENOM
                </th>
                <td mat-cell *matCellDef="let author">
                  {{ author.firstname }}
                </td>
              </ng-container>

              <!-- SURNAME -->
              <ng-container matColumnDef="surname">
                <th mat-header-cell *matHeaderCellDef>
                  NOM
                </th>
                <td mat-cell *matCellDef="let author">
                  {{ author.surname }}
                </td>
              </ng-container>

              <!-- ACTIONS -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                  ACTIONS
                </th>

                <td mat-cell *matCellDef="let author" class="actions-cell">

                  <button
                    mat-raised-button
                    color="accent"
                    (click)="edit(author)">

                    Modifier

                  </button>

                  <button
                    mat-raised-button
                    color="warn"
                    (click)="delete(author.id)">

                    Supprimer

                  </button>

                </td>
              </ng-container>

              <!-- ROWS -->
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns">
              </tr>

              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;">
              </tr>

            </table>

            <!-- CREATE BUTTON -->
            <div class="table-actions-bar">

              <button
                mat-raised-button
                color="primary"
                (click)="openCreate()">

                Créer Auteur

              </button>

            </div>

          </div>

        </div>

      </div>

      <!-- CENTERED PAGINATOR -->
        <div class="custom-paginator">

        <button
          class="nav-btn"
          (click)="paginator.previousPage()"
          [disabled]="!paginator.hasPreviousPage()">

          ◀
        </button>

        <span class="page-label">
          Page {{ paginator.pageIndex + 1 }} / {{ paginator.getNumberOfPages() }}
        </span>

        <button
          class="nav-btn"
          (click)="paginator.nextPage()"
          [disabled]="!paginator.hasNextPage()">

          ▶
        </button>

      </div>

     <mat-paginator
        #paginator
        [pageSize]="5"
        [hidePageSize]="true">
    </mat-paginator>  

       
    </mat-sidenav-content>

    <!-- RIGHT DRAWER -->
    <mat-sidenav
      mode="over"
      position="end"
      [(opened)]="showForm"
      class="drawer">

      <h3>
        {{ selectedAuthor ? 'Edit Author' : 'Créer un Auteur' }}
      </h3>

      <label>Prénom</label>
      <input
        type="text"
        [(ngModel)]="formAuthor.firstname"
        name="firstname">

      <label>Nom</label>
      <input
        type="text"
        [(ngModel)]="formAuthor.surname"
        name="surname">

      <div class="actions">

        <button
          mat-raised-button
          color="primary"
          (click)="selectedAuthor ? update() : create()">

          {{ selectedAuthor ? 'Update' : 'Valider' }}
          

        </button>

        <button
          mat-button
          (click)="cancel()">

          Annuler

        </button>

      </div>

    </mat-sidenav>

  </mat-sidenav-container>
</div>